[submodule "blocks/iomad_ecommerce"]
	path = blocks/iomad_ecommerce
	url = https://github.com/Health-and-Safety-Solution/iomad_ecommerce.git
[submodule "payment/gateway/po"]
	path = payment/gateway/po
	url = https://github.com/Health-and-Safety-Solution/paygw_po.git
[submodule "local/iomad_xero"]
	path = local/iomad_xero
	url = https://github.com/Health-and-Safety-Solution/iomad_xero.git
[submodule "blocks/iomad_actions_widget"]
	path = blocks/iomad_actions_widget
	url = https://github.com/Health-and-Safety-Solution/iomad_actions_widget.git
[submodule "payment/gateway/stripe"]
	path = payment/gateway/stripe
	url = https://github.com/Health-and-Safety-Solution/moodle-paygw_stripe.git
[submodule "local/reminders"]
	path = local/reminders
	url = https://github.com/Health-and-Safety-Solution/moodle-local_reminders.git
[submodule "blocks/iomad_comments"]
	path = blocks/iomad_comments
	url = https://github.com/Health-and-Safety-Solution/iomad_comments.git
