td.inprogress {
    background-color: yellow;
}

td.notstarted {
    background-color: #f33;
}

td.completed {
    background-color: #3f3;
}

div#piechart {
    width: 360px;
    height: 200px;
    padding: 5px;
    margin: 0 auto;
    border: 2px #888 solid;
    background-color: #fff;
}
